/* import Fonts. Fonts is in assets folder */
@font-face {
    font-family: Shine-Pro-Bold;
    src: url("../fonts/shine-pro-bold.ttf");
  }

/* Custom CSS BootStrap Properties */
.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

 .justify-content-around{
    justify-content: space-around;
}

.justify-content-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.text-align-center{
    text-align: center;
}

.align-items-baseline{
    align-items: baseline;
}

.align-items-end{
    align-items: flex-end;
}

.align-self-end{
    align-self: flex-end;
}

.align-self-start{
    align-self: flex-start;
}

.align-self-center{
    align-self: center;
}

.justify-self-start{
    justify-self: flex-start;
}

.justify-self-center{
    justify-self: center;
}

.align-content-center{
    align-content: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.width-100p{
    width: 100%;
}

.width-50p{
    width: 50%;
}

.center-bloc{
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.font-weight-bold{
    font-weight: bold   ;
}

.font-style-italic{
    font-style: italic;
}


/* CSS */
body{
    font-family: 'Sofia Pro';
    font-weight: 300;
    min-width: 1200px;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{
    height: 100%;
    color: #fff;
    background-color: #F03B43;
    font-size: 40px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.menu-option{
    height: 100%;
    display: flex;
    align-items: center;
}

.option{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #868686;
    height: 100%;
    display: grid;
    place-items: center;
}

.option-active, .option:hover{
    color: #000;
    border-bottom: 3px solid #F03B43;
    cursor: pointer;
}

.welcome-message{
    height: 70%;
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 10px;
    width: 200px;
    background-color: #3C80EF;
    border-radius: 20px;
    color: #fff;
    margin-left: 460px;
}

.page-content{
    height: calc(100% - 120px);
    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-option{
    width: 100%;
    height: 50px;
    padding: 10px 0px 10px 0px;
    display: grid;
    place-items: center;
}

.execution-panel{
    height: calc(100% - 50px);
    width: 95%;
}

.ocr-panel{
    height: 96%;
    width: 100%;
    display: flex;
    align-items: center;
}

.upload-image-section{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px #868686;
}

#upload-image{
    display: none;
}

.upload-image-btn{
    padding: 12px 20px 12px 20px;
    background-color: #3C80EF;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    z-index: 1;
    position: absolute;
}

#img-selected-preview{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #efeff5;
}

.upload-image-btn .bi-upload{
    margin-right: 5px;
}

.upload-status-bar{
    width: 10%;
    height: 10px;
}

.upload-progress-bar{
    background-color: #66ba5b;
    height: 100%;
    width: 0%;
}

.preview-convert{  
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px #868686;
}

.preview-convert-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    box-shadow: 1px 1px 5px #868686;
}

.download-option{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    height: 90%;
    border-radius: 10px;
    cursor: pointer;
}

.download-option span{
    margin-right: 5px;
}

.text-converted{
    height: calc(100% - 30px);
    display: flex;
    width: 90%;
    justify-content: center;
    font-weight: 400;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top: 8px;

}

footer{
    height: 60px;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media{
    margin-right: 7px;
    margin-left: 10px;
}
/* Loader effect code */
.loader,
.loader:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.loader {
  display: block;
  font-size: 2px;
  /* text-indent: -9999em; */
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid #5D89FE;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #5D89FE;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1s infinite linear;
  animation: load8 .2s infinite linear;
  margin-right: 15px;
}

#waiting-message{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message{
    color: #7C7F94;
    font-size: 1em;
    font-weight: 600;
}

/* Animation Key frame */
@-webkit-keyframes load8 {
    0% {-webkit-transform: rotate(0deg);
      transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);
      transform: rotate(360deg);}
    
  }
  
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    
     
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  
  }

